body{
	font-family: "Microsoft YaHei",Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self;
}

* {
	margin: 0;
	padding: 0;
}

.copy-logo {
	position: absolute;
	left: 10px;
}

.copy-menu {
    width: 100%;
    height: 60px;
    background: #000000;	
    position: fixed;
    top: 0;
    z-index: 10000;
    opacity: 0.8;
}

.copy-menu ul {
	width: 630px;
	height: 60px;
	margin: 0 auto;
}

.copy-menu ul li {
	list-style: none;
	width: 100px;
	height: 60px;
	float: left;
}

.copy-menu ul li a {
	display: block;
	width: 100px;
	height: 60px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	line-height: 60px;
}

.copy-menu ul li a:hover {
	background: #FFFFFF;
	color: #4cabeb !important;
}

.copy-active{
	background: #FFFFFF;
	color: #4cabeb !important;
}

.copy-slider {
	width: 100%;
	height: 100%;
	/*background: url(../img/onebg.jpg) no-repeat;
	background-size:100% 100%;*/
}

.copy-slider ul li {
	
}

.copy-video {
	position: absolute;
	width: 100%;
	height: 0px;
	background: #FF0000;
	bottom: 30px;
}

.copy-first {
	background: #FF0000;
}


/*第二屏幕  start*/

.copy-two{
    padding: 60px 0 0 0;
}

.copy-page-tit{
    text-align: center;
    font-size: 30px;
    color: #3e3a39;
}

.copy-tit-english{
    font-size: 12px;
    font-family:'Helvetica*';
    letter-spacing: 7px;
}

.copy-do{
    width: 1010px;
    margin: 100px auto 0 auto;
    height: 310px;
    position: relative;
}

.copy-do-animation,
.copy-do-collect,
.copy-do-copy{
    width: 310px;
    height: 310px;
    background: #4cabeb;
    border-radius: 50%;
    text-align: center;
    float: left;
    
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -155px;
}

.copy-do-animation{
    top: 0;
    left: 50%;
    margin: 0 0 0 -155px;
    z-index: 2;
}

.copy-do-collect{
    z-index: 3;
}

.copy-do-copy{
    z-index: 1;
}

.copy-do-tit{
    color: #ffffff;
    font-size: 32px;
    padding: 60px 0 0 0;
}

.copy-do-desc{
    color: #ffffff;
    font-size: 22px;
}
/*第二屏幕 end*/


/*第四屏幕  start*/

.copy-four{
    height: 100%;
    position: relative;
    padding: 60px 0 0 0;
    background: url(../img/bg_four.jpg);
    background-size: 100% 100%;
}

.copy-four .copy-page-tit{
    color: #ffffff;
}


.copy-four-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

.copy-four-con{
    position: absolute;
    top: 60px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.copy-service-con ul{
    width: 1004px;
    height: 140px;
    border-top:1px solid #C9CACA;
    border-left:1px solid #C9CACA;
    margin: 0 auto;
    padding: 0;
}

.copy-service-con ul li{
    float: left;
    list-style: none;
    height: 140px;
    line-height: 140px;
    width: 250px;
    text-align: center;
    border-right:1px solid #C9CACA;
    border-bottom:1px solid #C9CACA;
    background-color: #ffffff;
    font-size: 26px;
    text-align: center;
}

.copy-four-padding{
    padding: 30px 0;
}

.copy-service-CCTV{
    background: url(../img/CCTV.png) center center no-repeat;
}

.copy-service-CNR{
    background: url(../img/CNR.png) center center no-repeat;
}

.copy-service-JSBC{
    background: url(../img/JSBC.png) center center no-repeat;
}


.copy-service-ZHONGYING{
    background: url(../img/ZHONGYING.png) center center no-repeat;
}

.copy-service-desc{
    clear: both;
    width: 1004px;
    height: 84px;
    line-height: 84px;
    background: #ffffff;
    margin: 0 auto;
    font-size: 26px;
    text-align: center;
}

/*第四屏幕  end*/
