/*one start ----------->*/

@charset "utf-8";
body {
	font-family: "Microsoft YaHei", Arial, "Helvetica Neue", "Hiragino Sans GB", Simsun, sans-self;
}

* {
	margin: 0;
	padding: 0;
}

.copy-logo {
	position: absolute;
	left: 10px;
}

.copy-menu {
	width: 100%;
	height: 60px;
	background: #000000;
	position: fixed;
	top: 0;
	z-index: 10000;
	opacity: 0.8;
}

.copy-menu ul {
	width: 630px;
	height: 60px;
	margin: 0 auto;
}

.copy-menu ul li {
	list-style: none;
	width: 100px;
	height: 60px;
	float: left;
}

.copy-menu ul li a {
	display: block;
	width: 100px;
	height: 57px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	line-height: 55px;
	border-top: 3px #000000 solid;
}

.copy-menu ul li a:hover {
	background: #FFFFFF;
	color: #4cabeb !important;
	border-top: 3px #4CABEB solid !important;
}

.copy-active {
	background: #FFFFFF;
	height: 57px !important;
	color: #4cabeb !important;
	border-top: 3px #4CABEB solid !important;
	line-height: 55px !important;
}

.copy-title {
	width: 650px;
	height: 64px;
	line-height: 64px;
	color: #FFFFFF;
	font-size: 36px;
	position: absolute;
	top: -64px;
	text-align: center;
}

.copy-one-content {
	width: 100%;
	height: 100%;
	background: url(../img/onebg.jpg) no-repeat;
	background-size: 100% 100%;
}

.copy-video {
	position: absolute;
	width: 100%;
	height: 0px;
	bottom: 50px;
}

.copy-video-left {
	position: absolute;
	width: 50%;
	left: -1000px;
}

.copy-video-right {
	position: absolute;
	width: 50%;
	right: -1000px;
}

.copy-video ul li {
	list-style: none;
	float: left;
	padding: 10px 0px 10px 10px;
	box-sizing: border-box;
}

.copy-video-left ul li:last-child {
	padding-right: 5px !important;
}

.copy-video-right ul li:first-child {
	padding-left: 5px !important;
}

.copy-video-right ul li:last-child {
	padding-right: 10px !important;
}

.copy-video ul li div {
	position: relative;
	width: 100%;
	background-size: 100% 100%;
	cursor: pointer;
}

.copy-first-video {
	background: url(../img/video1.jpg) no-repeat;
}

.copy-second-video {
	background: url(../img/video2.jpg) no-repeat;
}

.copy-third-video {
	background: url(../img/video3.jpg) no-repeat;
}

.copy-fourth-video {
	background: url(../img/video4.jpg) no-repeat;
}

.copy-video ul li div p {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0px;
	background: #000000;
	opacity: 0.6;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}

.copy-video ul li div img {
	width: 55px;
	height: 55px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.copy-video ul li div span {
	width: 0;
	height: 100%;
	display: block;
	position: absolute;
	background: #000000;
	color: #4CABEB;
	z-index: 100;
	opacity: 0.5;
}


/*one end ----------->*/


/*第二屏幕  start*/

.copy-two {
	padding: 60px 0 0 0;
}

.copy-page-tit {
	text-align: center;
	font-size: 30px;
	color: #3e3a39;
	letter-spacing: 9px;
}

.copy-tit-english {
	font-size: 12px;
	font-family: 'Helvetica';
	letter-spacing: 9px;
	margin-top: 5px;
}

.copy-tit-english_ {
	position: absolute;width: 100%;height: 30px;z-index: 99;top:70px
}

.copy-do {
	width: 1010px;
	margin: 100px auto 0 auto;
	height: 310px;
	position: relative;
}

.copy-do-animation,
.copy-do-collect,
.copy-do-copy {
	width: 310px;
	height: 310px;
	background: #4cabeb;
	border-radius: 50%;
	text-align: center;
	float: left;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -155px;
}

.copy-do-animation {
	top: 0;
	left: 50%;
	margin: 0 0 0 -155px;
	z-index: 2;
}

.copy-do-collect {
	z-index: 3;
}

.copy-do-copy {
	z-index: 1;
}

.copy-do-tit {
	color: #ffffff;
	font-size: 32px;
	padding: 90px 0 0 0;
}

.copy-do-desc {
	color: #ffffff;
	font-size: 22px;
	padding: 40px 0 0 0;
}


/*第二屏幕 end*/


/*第四屏幕  start*/

.copy-four {
	height: 100%;
	position: relative;
	padding: 60px 0 0 0;
	background: url(../img/bg_four.jpg);
	background-size: 100% 100%;
}

.copy-four .copy-page-tit {
	color: #ffffff;
}

.copy-four-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

.copy-four-con {
	position: absolute;
	top: 60px;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.copy-service {
	width: 1005px;
	height: 224px;
	position: absolute;
}

.copy-service-con ul {
	height: 140px;
	border-top: 1px solid #C9CACA;
	border-left: 1px solid #C9CACA;
	padding: 0;
}

#copy-service-con1 {
	left: 100%;
	/*    margin: 0 0 0 -502.5px;*/
}

#copy-service-con2 {
	right: 100%;
	top: 470px;
	/*    margin: 0 -502.5px 0 0;*/
}

.copy-four-con .mt220 {
	margin-top: 220px;
}

.copy-service-con ul li {
	float: left;
	list-style: none;
	height: 140px;
	line-height: 140px;
	width: 250px;
	text-align: center;
	border-right: 1px solid #C9CACA;
	border-bottom: 1px solid #C9CACA;
	background-color: #ffffff;
	font-size: 26px;
	text-align: center;
}

.copy-four-padding {
	padding: 30px 0;
}

.copy-service-CCTV {
	background: url(../img/CCTV.png) center center no-repeat;
}

.copy-service-CNR {
	background: url(../img/CNR.png) center center no-repeat;
}

.copy-service-JSBC {
	background: url(../img/JSBC.png) center center no-repeat;
}

.copy-service-ZHONGYING {
	background: url(../img/ZHONGYING.png) center center no-repeat;
}

.copy-service-LEYE {
	background: url(../img/LEYE.png) center center no-repeat;
}

.copy-service-LMYD {
	background: url(../img/LMYD.png) center center no-repeat;
}

.copy-service-TGYC {
	background: url(../img/TGYC.png) center center no-repeat;
}

.copy-service-YL {
	background: url(../img/YL.png) center center no-repeat;
}

.copy-service-desc {
	clear: both;
	height: 84px;
	line-height: 84px;
	background: #ffffff;
	font-size: 26px;
	text-align: center;
}


/*第四屏幕  end*/


/*第五屏幕 start*/

.copy-five .copy-page-tit {
	color: #4cabeb;
}

.copy-five-tit {
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	padding: 35px 0;
}

.copy-five-info {
	font-size: 18px;
	color: #ffffff;
	padding: 0 20px;
	font-weight: normal;
	line-height: 25px;
}

.copy-five-con {
	width: 1000px;
	margin: auto;
}

.copy-five-con ul li {
	float: left;
	background: #4cabeb;
	margin: 0 0 10px 0;
	list-style: none;
}

.copy-five-con ul li.width428 {
	width: 428px;
	overflow: hidden;
	height: 276px;
}

.copy-five-con ul li.width276 {
	width: 276px;
	height: 276px;
}

.copy-five-con ul li.ml-mt-10 {
	margin: 0 10px;
}


/*第五屏幕 end*/


/* Page3 - slide
* --------------------------------------- */

.page3 {
	/*margin-top: 200px;*/
	z-index: 3;
	position: relative;
	top: 110px;
	height: 60px;
}

.slide {
	background-size: 100% 100%;
}

.copy-page-switch {
	list-style: none;
	margin: 0 auto;
	align-content: center;
	width: 120px;
	margin: 0 auto;
}

.copy-page-switch li {
	margin-left: 12px;
	float: left;
	height: 3px;
	width: 30px;
	background: #000;
}
.copy-page-switch li:first-child {
	margin-left: 0px !important;
}

/* page3 第1屏 */

#copy-page3-slide1,
#copy-page3-slide2,
#copy-page3-slide3 {
	position: relative;
	background-image: url(../img/BG_YELLOW2.png);
}

.page3-slide1 {
	position: absolute;
	top: 108px;
	right: 50%;
	margin-right: -370px;
	width: 370px;
	height: 634px;
	/*border: 1px solid red;*/
	background-image: url(../img/frame_yellow.png);
}

.page3-slide1-left {
	position: absolute;
	bottom: 40px;
	right: 50%;
	width: 590px;
	height: 590px;
	/*border: 1px solid red;*/
	background-image: url(../img/monkey_1.png);
}


/* 响应式 */

@media (min-height:800px) and (max-height:1200px) {
	.page3-slide1-left {
		bottom: 80px;
	}
	.page3-slide3-left {
		bottom: 80px;
	}
	.page3-slide2-left {
		bottom: 40px;
	}
}

.desc-title {
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
	color: white;
	/*border:1px solid red;*/
}

.desc-item {
	padding: 0px;
	margin: 88px 0px 0px;
	list-style: none;
}

.desc-item-title {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: white;
	/*border:1px solid red;*/
}

.desc-item-info {
	line-height: 26px;
	margin-top: 20px;
	font-weight: normal;
	padding: 0px 60px;
	font-size: 16px;
	text-align: center;
	/*border:1px solid red;*/
}


/* page3 第2屏 */

.page3-slide2 {
	position: absolute;
	top: 108px;
	right: 50%;
	margin-left: -370px;
	width: 370px;
	height: 634px;
	/*border: 1px solid red;*/
	background-image: url(../img/frame_blue.png);
}

.page3-slide2-left {
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 590px;
	height: 634px;
	/*border: 1px solid red;*/
	background-image: url(../img/monkey_2.png);
	-webkit-background-size: cover;
	background-size: cover;
}


/* page3 第3屏 */

.page3-slide3 {
	position: absolute;
	top: 108px;
	right: 50%;
	margin-right: -370px;
	width: 370px;
	height: 634px;
	/*border: 1px solid red;*/
	background-image: url(../img/frame_green.png);
}

.page3-slide1,.page3-slide2,.page3-slide3 {
	cursor: pointer;
}

.page3-slide3-left {
	position: absolute;
	bottom: 40px;
	right: 50%;
	width: 590px;
	height: 590px;
	/*border: 1px solid red;*/
	background-image: url(../img/monkey_3.png);
}

#copy-page6 {
	position: relative;
	background-image: url(../img/BG_PAGE_6.jpg);
}

#copy-page6 .copy-page-tit {
	color: white;
}

.copy-page6-widget-cover {
	width: 100%;height: 100%;position: absolute;background: #000000;top: 0;z-index: 101;opacity: 0.5;
}

.copy-page6-widget {
	width: 100%;height: 100%;z-index: 102;position: absolute;top: 150px;
}

#copy-page6 .page6-content {
	color: transparent;
	text-shadow: #D4C3C3 0 0 5px;
	text-align: center;
	margin: 90px auto 0px;
	width: 800px;
	height: 270px;
	/*border:1px solid red;*/
}

#copy-page6 .page6-address {
	line-height: 37px;
	width: 600px;
	float: left;
	text-align: left;
	list-style: none;
	color: white;
}

#copy-page6 .page6-QWR {
	width: 190px;
	height: 190px;
	float: left;
	/*border: 1px solid red;*/
}

#copy-page6 a {
	margin-top: 10px;
	float: left;
	display: block;
}

#copy-page6 a.page6-qq {
	margin-left: 20px;
	width: 50px;
	height: 50px;
	/*border:1px solid red;*/
	background: url(../img/QQ.png) no-repeat;
}

#copy-page6 a.page6-qq:hover {
	background: url(../img/QQ_ACTIVE.png) no-repeat;
}

#copy-page6 a.page6-weibo {
	margin-left: 50px;
	width: 50px;
	height: 50px;
	/*border:1px solid red;*/
	background: url(../img/WEIBO.png) no-repeat;
}

#copy-page6 a.page6-weibo:hover {
	background: url(../img/WEIBO_ACTIVE.png) no-repeat;
}